@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Tiro+Telugu&display=swap');

body {
    background-color: #c9c2c0;
    font-family: 'Tiro Telugu', 'Roboto', 'sans-serif';
    font-size: 22px;
    margin: 0;
    display: grid;
    grid-template-columns: 10fr;
    padding: 15px;
    
    
}
h1 {
    text-align: center;
    font-size: 60px;
}
p {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    
}
.f-pic {
    border: 10px solid #3f3d3e;
    height: 500px;
    margin: 20px;
    justify-self: center;
   
}
.hsecpic {
    border: 10px solid #3f3d3e;
    height: 500px;
    margin: 20px;
    justify-self: center;
}
nav {
    background-color: #3f3d3e;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex; 
    justify-content: space-around;
    width: 100vw;

}
nav a {
padding:1em;
min-width: 120px;
text-decoration: none;
padding: 10px;

}
nav a:link, nav a:visited {
color: var(--nav-link-color);
}
nav a:hover {
color: #c9c2c0;

}
footer {
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #242323;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: rgb(206, 201, 201);
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h3 {
    
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;  
}
 .foot {
    max-width: 500px;
    
    line-height: 2px;
    font-size: 20px;
    color: rgb(206, 201, 201);
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px
}
.socials li a {
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}
.footer-menu {
    margin-bottom: 20px;
}
.footer-menu ul {
    display: flex;
}
.footer-menu ul li {
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a {
    color: rgb(206, 201, 201);
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}
.footer-menu ul li a:hover {
    color: white;
    background-color: black;
}
.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    text-align: center;
}
.footer-bottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a {
    color: #c9c2c0;
    font-size: 16px;
    text-decoration: none;

}